*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/********************************************************************/
/* TAG */
/********************************************************************/
body{
 font-family: 'Open Sans', sans-serif;
 font-size: 16px;   
}

/********************************************************************/
/* LAYOUT */
/********************************************************************/



/********************************************************************/
/* UTILITIES */
/********************************************************************/


/********************************************************************/
/* TAG */
/********************************************************************/