*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/********************************************************************/
/* TAG */
/********************************************************************/
body{
 font-family: 'Open Sans', sans-serif;
 font-size: 16px;   
}

/********************************************************************/
/* LAYOUT */
/********************************************************************/
.container-large {
    max-width: 1367px;
    width: 100%;
    margin: auto;
}
  
.container {
    max-width: 1010px;
    width: 100%;
    margin: auto;
}

.row::after{
    content: "";
    display: table;
    clear: both;
}

[class*="col_"]{
    float: left;
}

.col_1_9{
    width: calc(100% / 9);
}

.col_2_9{
    width: calc(100% / 9 * 2);
}

.col_3_9{
    width: calc(100% / 9 * 3);
}

.col_4_9{
    width: calc(100% / 9 * 4);
}


.col_5_9{
    width: calc(100% / 9 * 5);
}

.col_6_9{
    width: calc(100% / 9 * 6);
}

.col_7_9{
    width: calc(100% / 9 * 7);
    float: right;
    text-align: right;
}

.float-right{
    text-align: right;
    float: right;
}


/********************************************************************/
/* TAG */
/********************************************************************/
nav{
    background-color: white;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px 0;
    z-index: 99;
}

h1{
 font-size: 77px;   
}

h2{
    font-size: 40px;
}

h3{
    font-size: 25px;
    padding-bottom: 10px;
}

h4, 
h5{
    font-size: 16px;
    padding-bottom: 10px;
}

/********************************************************************/
nav > div{
    width: 50%;
    display: inline-block;
}


header nav ul li{
    display: inline-block;
}

header nav ul li a{
    display: inline-block;
    padding: 0 20px;
    text-decoration: none;
    color: black;
    
}

header nav ul li a.btn{
    margin-left: 20px;
}

header nav ul li a img{
    vertical-align: middle;
}

/********************************************************************/
/*  */
/********************************************************************/
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

/* HEADER */
.bg-color{
    width: 100%;
    background-color: #B4D0E7;
}

.hero-section{
    padding-top: 50px;
    min-height: 300px;
    position: relative;
    top: 100px;
}

.hero-text-padding{
    padding-bottom: 20px;
}

.hero-section .row .col_3_9.column-box span.hero-text-padding{
    display: block;
    padding: 10px 0 30px;
}

.hero-section .icon{
    font-size: 35px;
    height: 50px;
}

.hero-section .hero-img{
    width: 100%;
}

.hero-section .column-box{
    padding: 0 60px 0 0;
    font-size: 16px;
}

.hero-section .row{
    margin-top: 40px;
}

/* MAIN */
.section-padding{
    padding-top: 200px;
/*     padding-bottom: 50px; */
}

.radio-btn{
    padding-top: 50px;
}

.radio-btn ul li{
    display: inline-block;
    padding-right: 15px;
}

.column-container{
    padding-top: 50px;
}

.column-container.row{
    margin-left: -20px;
    margin-right: -20px;
}

.column{
    border: 1px solid #D9D9DC;
    min-height: 1150px;
    padding-bottom: 100px;
    margin: 0 20px;
}

.column-title{
    text-align: center;
    border-bottom: 1px solid #D9D9DC;
    padding: 10px 0;
}

.column-box{
    padding: 25px;
    font-size: 14px;
}

.column-box span{
    padding-top: 25px;
    display: block;
}

.column-box ul{
    list-style: none;
}
 .column-box ul li{
    padding-left: 16px;
    margin-bottom: 25px;
}

.column-box ul li i{
    margin-left: -16px;
}

.column-box a{
    display: inline-block;
    text-align: center;
}

.little-border{
    margin-top: 30px;
    width: 20%;
    background-color: #F0F0F1;
    color: # #F0F0F1;
}

.column-box #check-icon{
    color: #0061FF;
}

.column-container.row .col_3_9 .column .column-box ul li div{
    float: left;
}


.section-border{
    border: 1px solid #D9D9DC;
    min-height: 200px;
}

.section-margin{
    margin-bottom: 150px;
}

.column.section-margin{
    padding-bottom: 30px;
    min-height: 200px;
    padding-top: 0;
}

.column-box.column-text{
    padding-top: 0;
    padding-bottom: 0;
}

.section-img{
    width: 95%;
}

.column-img{
    width: 100%;
}

.column-box.column-text .column-link{
    padding: 0;
    color: black;
}

.column-link{
    color: #0061FF;  
    display: inline-block;
    padding: 30px 0 50px;
}

.total-vw{
    width: 100%;
    position: relative;
}

.total-vw > div{
    display: inline-block;
    min-height: 50px;
    float: left;
}


.total-vw .square-container{
    width: 30%;
}

.total-vw > div:nth-child(2){
    width: 40%;
}

.square-container > .square:nth-child(1){
    background-color: #A2D39B;
}

.square-container > .square:nth-child(2){
    background-color: #61082B;
}

.square-container > .square:nth-child(3){
    background-color: #0093CE;
}

.square-container > .square:nth-child(4){
    background-color: #FF1C1C;
}


.square-container:last-child > .square:nth-child(1){
    background-color: #FF1C1C;
    border: 0px;
}

.square-container:last-child > .square:nth-child(2){
    background-color: #B4D0E7;
}


.square-container:last-child > .square:nth-child(3){
    background-color: #0D2481;
}

.square-container:last-child > .square:nth-child(4){
    background-color: #FFD830;
}


.square{
    float: left;
    width: 50%;
    height: calc(30vw / 2);
    position: relative;
}


.img-square{
    width: 50%;
    position: absolute;
    top: 50%;
    transform: translate(50%, -50%);
    
}

.color-filter{
    filter: invert();
}


.img-text-container{
    position: relative;
    width: 15vw;
    height: 10vw;
   /*  padding: 30px 30px; */
}


.img-text{
    width: 50%;
}

.total-vw.row .column-box{
    padding: 50px;
}

.img-text-container::after {
    content:"";
    position: absolute;
    width: 20%;
    height: 1px; 
    background:  #F0F0F1; 
    top: 50%;
    left: 0;
}

.text-container .section-margin{
    margin-bottom: 70px;
}

.bg-color.section-padding{
    padding: 70px 0;
}

.column-box.section-padding{
    padding-left: 0;
}

main > .container > .section-padding:last-child {
    padding-top: 100px;
    padding-bottom: 100px;
}


.container:last-child .column-container ul{
    list-style: none;
}

.container:last-child .column-container{
    margin-left: 0;
    margin-right: 0;
}

.container:last-child ul li{
    border-top: 1px solid #F0F0F1;
    /* border-bottom: 1px solid #F0F0F1; */
    padding: 25px 0;
}

.container:last-child ul li:last-child{
    border-bottom: 1px solid #F0F0F1;
}


.container:last-child ul li h5{
    padding: 0;
}

.container:last-child ul li div i{
    margin-right: 20px;
}

/* FOOTER */
footer.bg-color{
    background-color: black;
    min-height: 500px;
}

.col_1_5{
    width: calc(100% / 5);
    float: left;
}

footer .container-large{
    position: relative;
}

.footer-col-container{
    color: white;
    margin: 100px 0;
    padding-left: 20px;
}

footer ul{
    list-style: none;
}

footer ul li a{
    padding: 5px 0;
    color: white;
    text-decoration: none;
}

footer .container-large hr{
    position: absolute;
    left: 20px;
    bottom: 0;
    width: 10%;
}

.footer-col-container:last-child{
    margin: 70px 0;
}
/********************************************************************/
/*  */
/********************************************************************/


.btn{
    text-decoration: none;
    display: inline-block;
    color: white;
    background-color: #0061FF;
    padding: 7px 20px;
    font-weight: 400;
    font-size: 14px;
}


.btn-white{
    background-color: white;
    color: black;
    border: 1px solid;
}


.btn-large{
    width: 100%;
    border: 0;
    text-align: center;
}


/********************************************************************/
/*  */
/********************************************************************/

/* FAQ */
.faq-text{
    width: 100%;
    overflow: hidden;
    height: 0;
    transition: height .3s;
}

.fa-chevron-down{
    transition: transform .3s;
}

.faq-container:focus .faq-text{
    display: block;
    height: 100px;
    overflow: auto;
}

.faq-container:focus .fa-chevron-down{
    transform: rotateZ(180deg);
}


/********************************************************************/
/*  */
/********************************************************************/
.faq-text{
    width: 100%;
    overflow: hidden;
    height: 0;
    transition: height .3s;
}

.fa-chevron-down{
    transition: transform .3s;
}

.faq-container:focus .faq-text{
    display: block;
    height: 100px;
    overflow: auto;
}

.faq-container:focus .fa-chevron-down{
    transform: rotateZ(180deg);
}


/* HERO ARROW */
.fa-arrow-down{
    position: relative;
    top: 0;

    animation: arrow-up-down .7s infinite linear alternate; 
}

@keyframes arrow-up-down{
    from{
        top:0;
    }

    to{
        top: 100%;
    }
}





/********************************************************************/
/*  */
/********************************************************************/






/********************************************************************/
/*  */
/********************************************************************/

