*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/********************************************************************/
/* TAG */
/********************************************************************/
body{
 font-family: 'Open Sans', sans-serif;
 font-size: 16px;   
}

/********************************************************************/
/* LAYOUT */
/********************************************************************/
.container-large {
    max-width: 1367px;
    width: 100%;
    margin: auto;
}
  
.container {
    max-width: 1010px;
    width: 100%;
    margin: auto;
}

.row::after{
    content: "";
    display: table;
    clear: both;
}

[class*="col_"]{
    float: left;
}

.col_1_9{
    width: calc(100% / 9);
}

.col_2_9{
    width: calc(100% / 9 * 2);
}

.col_3_9{
    width: calc(100% / 9 * 3);
}

.col_4_9{
    width: calc(100% / 9 * 4);
}


.col_5_9{
    width: calc(100% / 9 * 5);
}

.col_6_9{
    width: calc(100% / 9 * 6);
}

.float-right{
    text-align: right;
    float: right;
}


/********************************************************************/
/* TAG */
/********************************************************************/
nav{
    background-color: white;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px 0;
    z-index: 99;
}

h1{
 font-size: 77px;   
}

h2{
    font-size: 40px;
}

h3{
    font-size: 25px;
    padding-bottom: 10px;
}

h4, 
h5{
    font-size: 16px;
    padding-bottom: 10px;
}

/********************************************************************/
nav > div{
    width: 50%;
    margin-top: 5px;
    display: inline-block;
}

header nav ul{
    margin-right:20px;
    list-style: none;
    display: inline-block;
}

header nav ul li{
    display: inline-block;
}

header nav ul li a{
    display: inline-block;
    padding: 0 20px;
    text-decoration: none;
    color: black;
    
}

header nav ul li a.btn{
    margin-left: 20px;
}

header nav ul li a img{
    vertical-align: middle;
}


/********************************************************************/
/*  */
/********************************************************************/
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

/* HEADER */
.bg-color{
    background-color: #B4D0E7;
}

.hero-section{
    padding-top: 50px;
    min-height: 300px;
    position: relative;
    top: 100px;
}

.hero-section .details{
    padding-bottom: 20px;
}

.hero-section .secondary-details{
    display: block;
    padding: 10px 0 30px;
}

.hero-section .icon{
    font-size: 35px;
}

.hero-section .hero-img{
    width: 100%;
}

.hero-section .column-padding{
    padding-right: 60px;
}

.hero-section .row{
    margin-top: 40px;
}

/* MAIN */
.section-padding{
    padding-top: 200px;
    padding-bottom: 50px;
}

.radio-btn{
    padding-top: 50px;
}

.radio-btn ul li{
    display: inline-block;
    padding-right: 15px;
}

.column-container{
    padding-top: 40px;
}

.column{
    border: 1px solid #D9D9DC;
    min-height: 1150px;
    /* width: 85%; */
    padding-bottom: 100px;
}

/* .column  */.column-title{
    text-align: center;
    border-bottom: 1px solid #D9D9DC;
    padding: 10px 0;
}

.column-box{
    padding: 25px;
    font-size: 14px;
}

.column-box span{
    display: block;
}

.column-box ul{
    list-style: none;
}

.column-box ul li{
    padding: 15px 0;
}
.column-box a{
    display: inline-block;
    text-align: center;
}

.column-box span{
    padding-top: 25px;
}

.little-border{
    margin-top: 30px;
    width: 20%;
    color: #D9D9DC;
}

.column-box #check-icon{
    color: #0061FF;
}

.column-box ul li div{
    float: left;
}

.column-box ul li{
    width: 100%;
}

.column-box ul li .check-icon{
    display: inline-block;
    width: 5%;
    vertical-align: top;
}

.column-box ul li .li-text{
    width: 95%;
    display: inline-block;
    padding-left: 5px;

}

.section-border{
    border: 1px solid #D9D9DC;
    min-height: 200px;
}

.column-box.column-text{
    padding-top: 0;
}

/********************************************************************/

.btn{
    text-decoration: none;
    display: inline-block;
    color: white;
    background-color: #0061FF;
    padding: 7px 20px;
    font-weight: 400;
    font-size: 14px;
}

.btn-large{
    width: 100%;
}

.btn-white{
    background-color: white;
    color: black;
    border: 1px solid;
}
